<h1>Welcome <%= @user.name.capitalize %></h1>

<h2>Users/show</h2>

<h2>All the Performances You Commented On (but you wanted all the performances you posted)</h2>

<% @performances.each do |performance| %>
    <h3>Performance <%= performance.id %></h3>
    <%= link_to performance.performer, performance_path(performance) %><br>
    Division: <%= performance.division %><br>
    Round: <%= performance.round %><br>
    Date: <%= performance.date %><br>
    Piece: <%= performance.piece %><br>
    Video: <%= performance.video %><br><br>
<% end %>

