<h1>Welcome <%= @user.name.capitalize %></h1>

<h2>All the Performances <%= @user.name.capitalize %> Uploaded</h2>

<% @performances.each do |performance| %>
    <h3>Performance <%= performance.id %></h3>
    <%= link_to performance.performer, performance_path(performance) %><br>
    Division: <%= performance.division %><br>
    Round: <%= performance.round %><br>
    Date: <%= performance.date %><br>
    Piece: <%= performance.piece %><br>
    Video: <%= performance.video %>
    <!--- <iframe width="420" height="345" src="https://www.youtube.com/embed/iLYy7zkdfjk">
    </iframe> -->
<% end %>

<h2>All Blogs <%= @user.name.capitalize %> Posted</h2>
  <% @blogs.each do |blog| %>
        <ul><%= link_to blog.title, user_blog_path(@user, blog) %><br></ul>
<% end %>

