<!DOCTYPE html>
<html>
  <head>
    <title>ViolinCompetition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="sessions/home.scss"/>


  </head>

  <body>
    <br>
    <div class='outer'>
      <% if logged_in? %>
        <%= link_to 'Profile', user_path(current_user) %> | 
        <%= link_to 'All Performances', performances_path %> |
        <%= link_to 'All Blogs', user_blogs_path(current_user) %> |
        <%= link_to 'Add Performance', new_performance_path %> |

        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Sign Up', signup_path %> |
        <%= link_to 'Log In', login_path %>
      <% end %>
    </div>
    <div class='inner'>
        <%= yield %>
    </div>
  
  </body>
</html>
